body{
  font-family: sans-serif;
    background-image: url("./background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.log-in-section{
  display: flex;
  height: 100vh;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
}
form{
  padding: 50px;
  background-color: #96DED1;
  box-shadow: 10px 10px 20px black;
}
h2
{
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: cursive;
}
.input-items
{
  display:flex;
  flex-direction:column;
}
.input-items{
  margin: 5px 0;
}
input{
  padding: 10px 50px;
  text-align: center;
  outline: none;
  border: none;
  background-color: #FFFAFA;
}
input::-webkit-input-placeholder{
  color: grey;
}
.log-in-button{
  padding: 10px 80px;
  background-color: royalblue;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
  align-items: center;
  border-radius: 10px;
font-family: sans-serif;

}
.create-new-button{
  padding: 10px 80px;
  background-color: #1F456E;
  margin: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-content: center;
  text-align: center;

}
a{
  text-decoration: underline;
  display: block;
}
